@model List<SkillTree_MVC.Models.MoneyModel>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>類型</th>
            <th>日期</th>
            <th>金額</th>
            @*<th>備註</th>*@
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>@item.SN</td>
                <td>@item.type</td>
                <td>@item.date.ToString("yyyy/MM/dd")</td>
                <td>@item.price</td>
                @*<td>@item.others</td>*@
            </tr>
        </tbody>
    }

</table>
